#root {
  display: flex;
  justify-content: center;
  text-align: center;
}

#twitter-auth {
  display: flex;
  flex-direction: column;
}

#github-auth {
  display: flex;
  flex-direction: column;
}

#email-password-auth {
  display: flex;
  flex-direction: column;
}
